Debug/queen.exe
Debug/queen.ilk
Debug/queen.pdb
queen/Debug/BuildLog.htm
queen/Debug/mt.dep
queen/Debug/queen.obj
queen/Debug/queen.pch
queen/Debug/stdafx.obj
queen/Debug/vc90.idb
queen/Debug/vc90.pdb
